@import "tailwindcss";

@theme {
  /* Background color*/
  --color-page-from: #f9fafb;
  --color-page-to: #d2d6db;

  --background-image-page: linear-gradient(
    to right,
    var(--color-page-from),
    var(--color-page-to)
  );

  /* Text foreground */
  --color-foreground: var(--color-neutral-900);
  --color-foreground-muted: var(--color-neutral-600);
}
